extends layout/layout

block main
  main(role="main").main
    section.section.section-cover
      //- h2.section-cover-title Let's see you on JSDC 2022
      .section-cover-logo
        a(href="https://2024.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc-2024.jpg?tmp=#{now}")
        img.right(src="/images/jsdc2024.png?tmp=#{now}" style="width:115px;")
      .section-cover-logo
        a(href="https://2022.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc-2022.jpg?tmp=#{now}")
        img.right(src="/images/jsdc2022.png?tmp=#{now}" style="width:115px;")  
      .section-cover-logo
        a(href="https://2021.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc2021.jpeg?tmp=#{now}")
        img.right(src="/images/jsdc-2021.jpeg?tmp=#{now}" style="width:115px;")
      .section-cover-logo
        a(href="https://2020.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc2020.png?tmp=#{now}")
        img.right(src="/images/jsdc-2020.png?tmp=#{now}" style="width:115px;")
      .section-cover-logo
        a(href="https://2019.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc2019.png?tmp=#{now}")
        img.right(src="/images/jsdc-2019.png?tmp=#{now}" style="width:115px;")
      .section-cover-logo
        a(href="http://2018.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc2018.png?tmp=#{now}")
        img.right(src="/images/jsdc-2018.png?tmp=#{now}" style="width:115px;")
      .section-cover-logo
        a(href="http://2017.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc2017.png?tmp=#{now}" style="height:67px;")
        img.right(src="/images/jsdc-2017.png?tmp=#{now}")
      .section-cover-logo
        a(href="http://2016.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc2016.png?tmp=#{now}")
        img.right(src="/images/jsdc-2016.png?tmp=#{now}")
      .section-cover-logo
        a(href="http://2015.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc2015.png?tmp=#{now}")
        img.right(src="/images/jsdc-2015.png?tmp=#{now}")
      .section-cover-logo
        a(href="http://2014.jsdc.tw/", target="_blank")
          img.left(src="/images/activity.jpg?tmp=#{now}")
        img.right(src="/images/jsdc-2014.png?tmp=#{now}")
      .section-cover-logo
        img.left(src="/images/jsdc2013.png?tmp=#{now}")
        img.right(src="/images/jsdc-2013.png?tmp=#{now}")
      .section-cover-logo
        img.left(src="/images/jsdc2012.png?tmp=#{now}")
        img.right(src="/images/jsdc-2012.png?tmp=#{now}")
